/Build/*
.DS_Store
/proj/*/Library
/proj/*/Logs
/ScreenshotFolder
/*.rd
/.vs/*
/proj/*/obj/*
/Temp/*
*.csproj
./yo/*
/yo/
/yo

\.vs\*
\Build\*
.DS_Store
\proj\*\Library
\proj\*\Temp
\proj\*\Logs
\ScreenshotFolder
